<html>

<head>
  <meta charset="utf-8" />
  <title>Админка</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
  {{{body}}}

  <script>
    function setPageScroll(page, scroll) {
      const prev = localStorage.getItem("scroll")

      let prevJson = prev ? JSON.parse(prev) : null

      if (prevJson) {
        prevJson[page] = scroll
      } else {
        prevJson = {
          [page]: scroll
        }
      }

      localStorage.setItem("scroll", JSON.stringify(prevJson))
    }

    function getPageScroll(page) {
      const prev = localStorage.getItem("scroll")

      let prevJson = prev ? JSON.parse(prev) : null

      if (!prevJson) return null

      return prevJson[page] ?? null
    }

    const scroll = getPageScroll(window.origin)
    if (scroll) {
      window.scroll({ "top": scroll })
    }

    window.addEventListener("scroll", () => {
      setPageScroll(window.origin, window.scrollY)
    })
  </script>
</body>

</html>